extends layout.pug

block content
  nav.grid-container.portfolio-breadcrumb
    a(href='/') ← Back
  article.grid-container.portfolio-intro.portfolio-project
    .grid-x
      .cell.small-6.medium-9.large-9

        //- Add your name.
        h1 OSMAN KAMARA

        //- Feel free personalize the title below
        p.lead.text-light
          | Full Stack JavaScript Developer.

        //- Replace the boilerplate below with your Elevator pitch below.
        .portfolio-bio
          p
            | I believe there is nothing I can't master with the right resources, curiosity, discipline, time and an environment to fail.   
      .cell.portfolio-meta.small-6.medium-2.large-3
        h6 Skills

        //- Replace the text in the li tags below with your own skills.  At this point, you should be able to list at least ten skills.
        ul
          li Express.
          li JavaScript.
          li JQuery.
          li HTML.
          li Static Node.js.
          li OOP.
          li Interactive Forms.
          li API.
          li Pagination.
          li CSS.

        h6 Contact Info

        //- Add your own contact info
        ul
          li 302-602-6949
          li mackiekbk@yahoo.com

        //- Add URLs to the hrefs below to link to your social media accounts.
        a.button.expanded(href='https://www.linkedin.com/', target _blank) LinkedIn
        a.button.expanded(href='https://github.com/osmankbk/', target _blank) GitHub
        a.button.expanded(href='https://twitter.com/?lang=en', target _blank) Twitter
  nav.grid-container.portfolio-breadcrumb
    a(href='/') ← Back
